.custom-select:focus,
input:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: unset !important;
}

a {
    color: #eb5322;
    transition: all 0.3s ease-in;
}

a:hover {
    color: #858585;
}

p {
    margin: 0;
}

.product-filter {
    /* background: #eee; */
    margin-bottom: 2rem;
}

.product-filter .product-filter-inner .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #858585;
    padding: 10px 5px;
}

.product-filter .product-filter-inner .filter a {
    font-size: 13px;
}

.product-filter .product-filter-inner .filter a {
    font-size: 13px;
}

.product-filter .product-filter-inner .filter-area button.site-btn{
    position: relative;
    margin-top: 2rem;
    border-radius: 40px;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    background: linear-gradient(145deg, #d44b1f, #fb5924);
    transition: .2s ease-in;

}


.product-filter .product-filter-inner .filter-area button.site-btn:hover{
    background: linear-gradient(145deg, #fb5924, #d44b1f);
}

.product-filter .product-filter-inner .filter-area .filter-box {
    padding: 10px 5px;
    border-bottom: 1px solid #eeeeee;
}

/* .product-filter .product-filter-inner .filter-area .filter-box.icon{
    border-color: #858585;
} */

.product-filter .product-filter-inner .filter-area .filter-text.collapsed {
    color: rgb(83, 83, 83);
}

.product-filter .product-filter-inner .filter-area .filter-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #eb5322;
    transition: all 0.2s ease-in;
    font-size: 14px;
    font-weight: 500;
}

.product-filter .product-filter-inner .filter-area .filter-box.icon .filter-text {
    color: #000000;
    font-size: 1rem;
}

.product-filter .product-filter-inner .filter-area .filter-text span i {
    transform: rotate(90deg);
    transition: all 0.2s ease-in;
}

.product-filter .product-filter-inner .filter-area .filter-text.collapsed span i {
    transition: all 0.2s ease-in;
    transform: rotate(0);
}

.product-filter .product-filter-inner .filter-area .inner-text {
    padding: 5px 10px;
}

.product-filter .product-filter-inner .filter-area .inner-text .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    /* appearance: none; */
}

.product-filter .product-filter-inner .filter-area .inner-text .title {
    flex-basis: 50%;
    font-size: 14px;
    color: #858585;
}

.product-filter .product-filter-inner .filter-area .inner-text label {
    color: #858585;
    font-size: 14px;
    line-height: 2;
}

.product-filter .product-filter-inner .filter-area .inner-text ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-filter .product-filter-inner .filter-area .inner-text ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #858585;
    line-height: 25px;
}

.product-filter .product-filter-inner .filter-area .inner-text ul li a:hover {
    color: #444444;
}

.product-filter .product-filter-inner .filter-area .inner-text ul li a div.text {
    font-size: 14px;
}

.product-filter .product-filter-inner .filter-area .inner-text ul li a div.value {
    font-size: 10px;
}

.inner-text .custom-control div.value {
    display: inline;
    font-size: 10px;
    color: #858585;
}

.product-filter .product-filter-inner .filter-area .filter-box.icon .inner-text .values {
    padding: 20px 10px 5px;
}

.product-filter .product-filter-inner .filter-area .filter-box.icon .icon-heading i {
    margin-right: 4px;
}

.product-filter .product-filter-inner .filter-area .filter-box.icon .inner-text .values input.price-range-field {
    border-radius: 10px;
    border-width: 1px;
    padding: 0 5px;
    max-width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-filter .filter-box.icon .inner-text .values .ui-slider-handle.ui-corner-all {
    border-radius: 50% !important;
}

.product-filter .filter-box.icon .inner-text .values .ui-slider-handle.ui-state-hover,
.product-filter .filter-box.icon .inner-text .values .ui-slider-handle.ui-state-active,
.product-filter .filter-box.icon .inner-text .values .ui-slider-handle.ui-state-focus {
    outline: none !important;
    border: none;
    background: #e75221;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

#dcolor-filter .color-selection input[type="radio"] {
    display: none;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label span {
    transform: scale(1.25);
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .red {
    border: 2px solid #711313;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .orange {
    border: 2px solid #873a08;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .yellow {
    border: 2px solid #816102;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .olive {
    border: 2px solid #505a0b;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .green {
    border: 2px solid #0e4e1d;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .teal {
    border: 2px solid #003633;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .blue {
    border: 2px solid #103f62;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .violet {
    border: 2px solid #321a64;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .purple {
    border: 2px solid #501962;
}
#dcolor-filter .color-selection input[type="radio"]:checked + label .pink {
    border: 2px solid #851554;
}

#dcolor-filter .color-selection label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
#dcolor-filter .color-selection label:hover span {
    transform: scale(1.25);
}
#dcolor-filter .color-selection label span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    border-radius: 50%;
}
#dcolor-filter .color-selection label span.red {
    background: #db2828;
}
#dcolor-filter .color-selection label span.orange {
    background: #f2711c;
}
#dcolor-filter .color-selection label span.yellow {
    background: #fbbd08;
}
#dcolor-filter .color-selection label span.olive {
    background: #b5cc18;
}
#dcolor-filter .color-selection label span.green {
    background: #21ba45;
}
#dcolor-filter .color-selection label span.teal {
    background: #00b5ad;
}
#dcolor-filter .color-selection label span.blue {
    background: #2185d0;
}
#dcolor-filter .color-selection label span.violet {
    background: #6435c9;
}
#dcolor-filter .color-selection label span.purple {
    background: #a333c8;
}
#dcolor-filter .color-selection label span.pink {
    background: #e03997;
}

.search-box .finder {
    /* border: 1px solid #fff; */
    background-color: #fff;
    border-radius: 15px;
    padding: 0;
    border: 1px solid #ddd;
    /* box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5); */
}

.search-box .finder__outer {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 15px 5px 15px 15px;
    border-radius: 10px;
    /* box-shadow: inset 10px 10px 15px -20px #c3c3c3, inset -10px -10px 15px -10px #ffffff; */
}

.search-box .finder__inner {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    flex-basis: 100%;
}

.search-box .finder__input {
    height: calc(100% + 1rem);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    width: 100%;
    flex: 1;
}

.search-box .finder__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: all 0.2s;
    box-shadow: inset 0 0 0 20px #292929;
    border-radius: 50%;
    position: relative;
}
.search-box .finder__icon:after,
.search-box .finder__icon:before {
    display: block;
    content: "";
    position: absolute;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .finder__icon:after {
    width: 10px;
    height: 10px;
    background-color: #292929;
    border: 3px solid #fff;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 0px;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
.search-box .active .finder__icon:after {
    border-width: 7px;
    background-color: #fff;
}
.search-box .finder__icon:before {
    width: 3px;
    height: 13px;
    background-color: #fff;
    top: 50%;
    left: 10px;
    transform: rotateZ(45deg) translate(-50%, 0);
    transform-origin: 0 0;
    border-radius: 4px;
}
.search-box .active .finder__icon:before {
    background-color: #292929;
    width: 4px;
    transform: rotateZ(45deg) translate(-50%, 11px);
}
.search-box .processing .finder__icon {
    transform-origin: 50%;
    animation: spinner 0.3s linear infinite;
    animation-delay: 0.5s;
}
.search-box .active .finder__icon {
    transform: translateY(-5px);
}

@keyframes spinner {
    0% {
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(405deg);
    }
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 0;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #eb5322;
    position: absolute;
    left: -10px;
    top: 3px;
    opacity: 0;
    -webkit-transition: all 0.12s, border-color 0.08s;
    transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -2px;
    left: -18px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-control {
    padding-left: 1rem;
}
