@import url("../css/font-awesome.min.css");
@font-face{
  font-family:'digital-clock-font';
  src: url('../fonts/digital-7.ttf');
 }
html,
body {
  font-family: "Muli", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

a:hover,
a:active,
a:focus,
button:active,
button:focus,
textarea:active,
textarea:focus,
input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

.read-more {
  background: transparent;
  padding: 10px 16px;
  display: inline-block;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-size: 14px;
  color: #eb5322;
  border: 1px solid #eb5322;
  text-align: center;
}

.read-more:hover {
  background: #eb5322;
  color: #fff;
}

.site-btn {
  display: inline-block;
  border: none;
  padding: 21px 44px;
  min-width: 156px;
  font-size: 16px;
  background: #eb5322;
  color: #fff;
  line-height: normal;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}
.digitalTime{
  margin-top: 15px;
  font-family: 'digital-clock-font';
    font-weight: 500;
    font-size: 30px;
    background-color: #000;
    text-align: center;
    border: 2px dotted #fff;
    color: #fff;
}
.activatedPackage{
    background-color: #e3e3f8;
    border: 2px dashed #7c7c7c;
}
.grey-bg {
  background: #f7f7f7;
}
ul.list-style-2 {
  flex-wrap: wrap;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
}

.custom-header-wrapper {
}

.custom-bottom-header {
}

.watch-lading .custom-landing-banner-wrapper .slick-list {
  overflow-y: visible;
}

.sticky .custom-header-wrapper .custom-bottom-header {
  background: #000;
}

.custom-header-wrapper {
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: #151719;
}
.dealerlogo {
  background-color: #f3f3f3;
  text-align: center;
}
.custom-top-header {
  background: #262626;
}

.header-social-icon {
}

.header-social-icon ul {
}

.header-social-icon ul li {
  margin: 0 15px 0 0;
}

.header-social-icon ul li:last-child {
  margin: 0;
}

.header-social-icon ul li a {
  color: #fff;
  padding: 5px 0;
}

.header-phone {
}

.header-phone ul {
  justify-content: flex-end;
}

.header-phone ul li {
  margin: 0 15px 0 0;
}

.header-phone ul li:last-child {
  margin: 0;
}

.header-phone ul li a {
  color: #fff;
  padding: 5px 100px 5px 15px;
}

.custom-bottom-header .navbar .navbar-collapse {
  justify-content: flex-end;
}

.custom-bottom-header .navbar ul {
}

.custom-bottom-header .navbar ul li {
  margin: 0 10px;
  position: relative;
}

.custom-bottom-header .navbar ul li.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #eb5322;
}

.custom-bottom-header .navbar ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.custom-bottom-header .navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.product-details h5 {
  min-height: 48px;
}
.car-listing-row .listing-car-item-meta .car-title{
  min-height: 60px;
}

.custom-bottom-header .navbar ul ul {
  width: 220px;
  left: 0;
  top: 100%;
  text-align: left;
  padding: 10px 0;
  visibility: hidden;
  opacity: 0;
  margin-top: 50px;
  background: #fff;
  z-index: 9;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 0;
  display: block;
}
.watchImageContainer{
  border: 1px solid #e9e9e9;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #f1f1f1d4;
    position: sticky;
    top:0;
}
.custom-bottom-header .navbar ul ul li {
  margin: 10px;
}

.custom-bottom-header .navbar ul ul li a {
  color: #000;
  padding: 0;
}

.custom-bottom-header .navbar ul li.dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
}

/*banner slider css*/

.custom-banner-item {
  position: relative;
  z-index: 0;
}

.banner-item:after {
  content: "";
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}
.sell-btn{
  background-color: #eb5322;    
    padding: 6px 20px;
        text-transform: capitalize !important;
    cursor: pointer;
    color: #fff;
}
.loggedUser li a{
  text-transform: capitalize !important;
}
.loggedUser li a i{
  width: 25px;
}
.sell-btn:hover{
  background-color: #d65023 !important;    
    text-transform: capitalize !important;
    color: #fff;
}
.sell-cat{
  border: 1px solid #e5e2e2;   
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #f1f1f180;
    min-height: 200px;
    justify-content: center;
    padding: 40px 20px;
}
.custom-banner-slider .slick-slide {
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.custom-banner-slider .slick-current {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.custom-banner-slider .slick-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.custom-banner-slider .banner-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

ul.slick-dots {
  justify-content: center;
  position: relative;
  margin-top: -40px;
}

ul.slick-dots li {
  margin: 0 5px;
}

ul.slick-dots li button {
  border: 1px solid #fff;
  background: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

ul.slick-dots li.slick-active button {
  background: #fff;
}

.slick-prev,
.slick-next {
  top: 50%;
  position: absolute;
  right: initial;
  background: #858585;
  padding: 5px;
  display: inline-block;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  border: none;
  font-size: 0;
  text-transform: capitalize;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 40px;
  transform: translateY(-50%);
  border: solid;
}

button[class*="slick-"]:before {
  content: "";
  content: "\f104";
  font-family: "FontAwesome";
  font-size: 23px;
  color: #fff;
  line-height: 10px;
}

button[class*="slick-next"]:before {
  content: "\f105";
}

.perfect-home-slider .slick-prev {
  left: -15px;
  z-index: 2;
}
.perfect-home-slider .slick-next {
  right: -15px;
}

.slick-next:hover,
.slick-prev:hover {
  background: #eb5322;
  color: #fff;
}

.slick-next {
  right: 0;
}

.banner-form-wrapper {
  position: unset;
  z-index: 0;
}

.banner-form-wrapper .container {
  position: absolute;
  left: 0px;
  right: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.banner-hero-form-wrapper {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
}

.banner-form-wrapper .hero-warp-heading-box {
  color: #fff;
  text-align: left;
}

.banner-form-wrapper .hero-warp-heading-box h4 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.banner-form-wrapper .hero-warp-heading-box h2 {
}

.banner-form-wrapper .hero-warp-heading-box h5 {
}

.search-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* by rohit */
.propertyListing,.watchListing{
  height: 40px;
}
.propertyListing .price,.watchListing .price{
  position: relative;
  float: right;
  padding: 6px 6px 4px 4px;
  margin-left: 18px;
  background-color: #858585;
  text-align: right;
  color: #fff !important;
  z-index: 5;
}

.propertyListing .price::before, .watchListing .price::before{
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -12px;
  height: 100%;
  width: 32px;
  background-color: #858585;
  transform: skew(-14deg, 0deg);
  z-index: -1;
}
.imgList img{
  height: 200px;
}
.listingImage{
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.listingImage .listingStatus{
  position: absolute;
    top: 0;
    right: 0;
    background-color: #efefef;
    padding: 2px 15px;
    font-weight: 600;
}
.listingBottom .price{
  font-weight: bold;
}
.listingBottom .description a{
color: #a9a9a9;
}
.suggCn{
  padding: 10px 10px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    background-color: #fcfcfc;
}
.stickyView{
  top:100px;
}
#make-filter,
#model-filter,
#style-filter,
#country-filter,
#House,
#hometype-filter,
#country-filter,
#brand-filter,
#casematerial-filter,
#bracematerial-filter{
    overflow-y: scroll;
    max-height: 300px;
}
.sellerType{
    align-items: center;
    display: flex;
    justify-content:flex-start;
}
.sellerType img{
  height: 60px;
    margin-right: 20px;
}
.search-input input {
  width: calc(100% - 156px);
  height: 71px;
  padding-left: 47px;
  color: #3a3a3a;
  font-style: italic;
  border: none;
}
#propertyCheck{
  height: 250px;
  overflow-y: scroll;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.custom-search-panel ul.nav {
  border-bottom: none;
}

.custom-header-wrapper
  .custom-bottom-header
  .navbar
  ul.navbar-nav
  li.nav-item.last-item {
  margin-left: 3rem;
  background: #fff;
  padding: 0 10px;
}

.custom-header-wrapper
  .custom-bottom-header
  .navbar
  ul.navbar-nav
  li.nav-item.last-item
  a {
  color: #000;
}

.custom-search-panel ul.nav li.nav-item a {
  color: #fff;
  border: none;
}

.custom-search-panel ul.nav li.nav-item a.active {
  border-bottom: 4px solid #fff;
  background-color: transparent;
  color: #fff;
}

.custom-search-panel .nav-tabs .nav-link:focus,
.custom-search-panel .nav-tabs .nav-link:hover {
  border: none;
  color: rgba(255, 255, 255, 0.8);
}

.custom-search-panel .tab-content {
  color: #fff;
}

.search-filter-panel {
}

.search-filter-panel .dropdown {
  display: flex;
}

.search-filter-panel .dropdown .dropdown-list {
  margin: 0 20px 0 0;
}

.search-filter-panel .dropdown .dropdown-list button {
  border: none;
  padding: 0;
  border-radius: 0;
  background: none;
}

.search-filter-panel .dropdown .dropdown-list button i {
  vertical-align: middle;
}

.search-filter-panel .dropdown .dropdown-list button:hover,
.search-filter-panel .dropdown .dropdown-list button:focus,
.search-filter-panel .dropdown .dropdown-list button:active {
  outline: none;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  background: none;
}

.search-filter-panel .dropdown .dropdown-list .dropdown-menu {
  padding: 0;
  min-width: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.search-filter-panel
  .dropdown
  .dropdown-list
  .dropdown-menu
  label.form-check-label {
  position: relative;
  padding-left: 20px;
  font-size: 13px;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.search-filter-panel
  .dropdown
  .dropdown-list
  .dropdown-menu
  label.form-check-label:before,
.search-filter-panel
  .dropdown
  .dropdown-list
  .dropdown-menu
  label.form-check-label:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border: solid 1px #eb5322;
  left: 0;
  border-radius: 4px;
  top: 3px;
}

.search-filter-panel
  .dropdown
  .dropdown-list
  .dropdown-menu
  label.form-check-label:after {
  font-family: "Font Awesome 5 Free";
  background: #eb5322;
  color: #fff;
  font-size: 8px;
  content: "\f00c";
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.search-filter-panel
  .dropdown
  .dropdown-list
  .dropdown-menu
  .form-check
  [type="checkbox"]:checked
  + label:after {
  opacity: 1;
  visibility: visible;
}

.search-filter-panel .dropdown .dropdown-list .dropdown-menu .form-check-input {
  opacity: 0;
  visibility: hidden;
}

.search-filter-panel .dropdown .dropdown-list .dropdown-menu .form-check {
  font-size: 12px;
}

.search-filter-panel .dropdown .dropdown-list .dropdown-menu .form-check {
  position: relative;
  display: block;
  padding: 10px;
  border-bottom: solid 1px #e2e2e2;
  transition: 0.5s;
}

.search-filter-panel
  .dropdown
  .dropdown-list
  .dropdown-menu
  .form-check:last-child {
  border: none;
}

.search-filter-panel .dropdown .dropdown-list .dropdown-menu .form-check:hover {
  background: #f5f5f5;
}

.search-filter-panel .dropdown .dropdown-list .dropdown-menu .menu-list a {
  color: #212529;
  font-size: 12px;
}

.main-heading {
  margin: 0 0 30px;
}

.main-heading h3 {
  font-size: 35px;
  line-height: 45px;
  color: #636363;
}

.main-heading p {
  color: #eb5322;
}

.home-detail {
  margin: 10px;
}
.custom-blog-list .home-list-box{
  box-shadow: none !important;
}
.home-list-box {
  position: relative;
  background: #fff;
  border-radius: 11px;
  box-shadow: 0 0 15px #00000017;
}
.home-list-box .home-list-slider{
  margin-bottom:13px;
}
.home-list-box span.price{
  padding-left: 15px;
}

.home-list-box .bottom-detais {
  padding: 1rem;
  min-height: 70px;
}

.home-content.listing-home-content {
  padding: 18px;
}

.home-list-box a.home-view {
  display: block;
  position: relative;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  overflow: hidden;
  max-height: 171px;
}

.home-list-box a.home-view img {
}

.home-list-box a.home-view:before {
  opacity: 1;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(0, rgba(0, 0, 0, 0)),
    color-stop(50%, rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.75))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  content: "";
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

.home-list-box a.home-view:hover:before {
  opacity: 0;
}

/* .home-list-box span.price {
        position: absolute;
        left: 10px;
        color: #fff;
        z-index: 2;
        bottom: 25px;
    } */

.listing-page-slider-wrapper ul.slick-dots {
  justify-content: flex-end;
}

/* .home-content {
        margin: -50px 0 0;
    } */

/* .listing-home-content {
        margin: -20px 0 0;
    } */

.home-content h4 {
  margin-bottom: 18px;
}

.home-content span.icon {
  margin-right: 10px;
  position: relative;
}

.home-content span.icon::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: -7px;
  top: 0;
  bottom: 0;
  background: #858585;
}

.home-content span.icon:last-child:after {
  display: none;
}

.fasility-item {
  display: flex;
  justify-content: start;
  margin: 10px 0 0;
}

.fasility-item span {
  padding: 5px 11px;
  display: block;
  color: #444444;
  border-radius: 6px;
  border: solid 1px #858585;
  font-size: 13px;
  /* box-shadow: 1px 1px 12px #eb532247; */
}
.dealerDetails .brand{
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
}
.dealerDetails .brand img{
  width:60px;
  height: 40px;
}
.dealerDetails .dealerInfo{  
  text-transform: capitalize;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}
.dealerDetails .agents{
  display: flex;
  justify-content: start;
  padding: 5px 10px;
  border-bottom: 1px solid #faf0f0;
}
.agentPhoto{
  width: 60px;
  border-radius: 100%;
  border: 1px solid #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  height: 60px;
  margin-right: 15px;
  overflow: hidden;
}
.apartment_wrap {
  text-align: center;
  padding: 10px;
  background: #858585;
  margin: 21px 0 0 0;
  color: #fff;
}

.home-content h4 a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
}

.home-content p {
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0 0 0;
}

.home-list-box .product-detail-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  padding: 0 10px;
  z-index: 3;
}

.home-list-box .product-detail-btn ul {
  justify-content: flex-end;
}

.home-list-box .product-detail-btn ul li {
  margin: 0 5px;
}

.home-list-box .product-detail-btn ul li a {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
}

.home-list-box:hover .product-detail-btn {
  visibility: visible;
  opacity: 1;
  bottom: 88%;
}

.location-detail {
  margin: 10px;
}

.custom-blog-list {
  background: #fff;
  padding: 10px;
}

.blog-detail-content {
  padding: 15px;

}

.blog-detail-content .blog-date {
  justify-content: space-between;
  margin: 8px 0;
}

.blog-detail-content .blog-date span {
  font-size: 12px;
}

.blog-detail-content .blog-date span a {
  color: #222;
}

.blog-detail-content h4 {
  line-height: 20px;
}

.blog-detail-content h4 a {
  font-size: 16px;
  color: #222;
  font-weight: 700;
  line-height: 20px;
}

.blog-detail-content p {
  font-size: 12px;
  margin: 10px 0 20px;
}

.custom-top-footer {
  background: #181818;
}

.custom-footer-logo {
}

.custom-footer-logo p {
  color: #fff;
  margin: 30px 0 0;
  font-size: 13px;
  line-height: 33px;
}

.custom-footer-links {
}

.custom-footer-links h3 {
  color: #fff;
  font-size: 20px;
  margin: 0 0 10px;
}

.custom-footer-links ul {
  flex-direction: column;
}

.custom-footer-links ul li {
  color: #fff;
  margin: 0 0 10px;
}

.custom-footer-links ul li a {
  color: #fff;
}

.custom-bottom-footer {
  background: #353535;
}

.copyright-wrapper {
}

.copyright-wrapper p {
  color: #fff;
  margin: 0;
}

.footer-social-links {
}

.footer-social-links ul {
  justify-content: flex-end;
}

.footer-social-links ul li {
  margin: 0 15px 0 0;
}

.footer-social-links ul li a {
  color: #fff;
  padding: 5px 0;
}

/*  about css start */

.about-header {
  background: #000;
}

.custom-home-listing-wrapper {
  padding: 120px 0 0;
}

.custom-pagination {
}

.custom-pagination ul.pagination {
}

.custom-pagination ul.pagination li {
}

.custom-pagination ul.pagination li a {
  color: #222;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #eb5322;
  background-color: #eb5322;
}

/*---------------------
    Single Property
    -----------------------*/

.single-property-wrapper {
  padding: 140px 0 50px;
}

.property-title {
  float: left;
}

.custom-footer-links h3 {
  color: #fff;
  font-size: 20px;
  margin: 0 0 10px;
  color: #eb5322;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 27px;
}

.custom-footer-links h3:after {
  position: absolute;
  left: 0;
  background: #5f5f5f;
  width: 100%;
  height: 1px;
  bottom: 0;
  content: "";
  border-left: solid 33px #eb5322;
}

.custom-footer-links ul li {
  color: #fff;
  margin: 0 0 18px;
  position: relative;
  font-size: 14px;
  line-height: 25px;
}

.footer-social li {
  padding-left: 39px;
}

.footer-social li i {
  position: absolute;
  left: 0;
  background: #3e3e3e;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 4px;
}

.footer-nav li {
  padding-left: 25px;
}

.footer-nav li:before {
  content: "\f178";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 0;
  color: #eb5322;
}

.property-title a {
  color: #6f6f8a;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
}

.property-title a i {
  color: #000;
}

.property-price {
  float: right;
}

.property-price p {
  color: #8f8fa8;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -4px;
}

.property-price span {
  color: #30304e;
  font-size: 30px;
  font-weight: 500;
}

.property-img .property-detail-item img {
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.popular-room-features.single-property {
  margin-bottom: 0;
}

/* single property detail css */

.details-top {
  padding: 25px 0;
  margin-bottom: 35px;
  border-bottom: 1px solid #f3f3f3;
  margin-left: -25px;
  margin-right: -20px;
}

.t-details .register-id {
  float: left;
}

.t-details .register-id p {
  color: #6f6f8a;
  font-size: 18px;
  font-weight: 400;
  margin-top: 17px;
}

.t-details .register-id p span {
  display: inline-block;
  color: #30304e;
}

.t-details .popular-room-features.single-property {
  padding-top: 0;
  float: right;
}

.t-details .popular-room-features.single-property .size {
  float: left;
}

.t-details .popular-room-features.single-property p {
  color: #8f8fa8;
  margin: 0 0 5px;
}

.t-details .popular-room-features.single-property i {
  color: #8f8fa8;
}

.t-details .popular-room-features.single-property .beds {
  float: left;
  margin-left: 30px;
}

.t-details .popular-room-features.single-property .baths {
  float: left;
  margin-left: 30px;
}

.t-details .popular-room-features.single-property .garage {
  float: left;
  margin-left: 30px;
}

.property-description,
.property-features,
.location-map {
  margin-bottom: 28px;
}

.property-description h4,
.property-features h4,
.location-map h4 {
  color: #30304e;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
}

.property-description p,
.property-features p,
.location-map p {
  color: #6f6f8a;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.property-description iframe,
.property-features iframe,
.location-map iframe {
  width: 100%;
  height: 355px;
  border: 0;
}

.property-features h4 {
  margin-bottom: 13px;
}

.property-features .property-table {
  margin-left: -25px;
  margin-right: -20px;
  overflow-y: auto;
}

.property-features .property-table table {
  width: 100%;
  min-width: 350px;
}

.property-features .property-table table tr:nth-child(even) {
  background: #f8f8f9;
}

.property-features .property-table table tr td {
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 400;
  color: #30304e;
  width: 120px;
}

.property-features .property-table table tr td i {
  color: #eb5322;
}

.property-features .property-table table tr td img {
  margin-right: 13px;
  height: 16px;
}

.location-map {
  margin-bottom: 0;
}

.location-map h4 {
  margin-bottom: 24px;
}

.contact-service {
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}

.contact-service img {
  margin-bottom: 12px;
}

.contact-service p {
  color: #6f6f8a;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 6px;
}

.contact-service h5 {
  color: #30304e;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-service table {
  width: 100%;
  margin-bottom: 32px;
}

.contact-service table tr:nth-child(odd) {
  background: #f8f8f9;
}

.contact-service table tr td {
  color: #6f6f8a;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0;
}

.contact-service table tr td span {
  color: #30304e;
  display: inline-block;
}

.contact-service .list-btn {
  color: #fff;
  background: #8ad144;
  border: none;
}

.p-ins {
  padding: 0 20px 15px 25px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.room-items {
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}

.room-text .room-details {
  border-bottom: 1px solid #f3f3f3;
}

.room-text .room-features-area {
  border-bottom: 1px solid #f3f3f3;
}

.room-text .room-details .room-title {
  padding: 10px;
}

.room-text .room-details a {
  margin: 0 10px 0 0;
}

.room-text .room-details a i {
  color: #000;
}

.room-text .room-details a span {
  color: #8f8fa8;
  font-size: 12px;
}

.room-text .room-features-area .room-info {
  padding: 10px;
}

.room-text .room-features-area .room-info .room-features {
  margin: 0 30px 0 0;
  color: #8f8fa8;
}

.room-text .room-features-area .room-info .room-features:last-child {
  margin: 0;
}

.room-text .room-features-area .room-info .room-features i {
  color: #8f8fa8;
}

.room-text .room-features-area .room-info .room-features p {
  margin: 0 0 5px 0;
}

.room-text .room-property-btn {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-text .room-property-btn .room-price {
  color: #8f8fa8;
}

.room-text .room-property-btn .room-price p {
  font-size: 16px;
  margin-bottom: 2px;
}

.room-text .room-property-btn .room-price span {
  color: #30304e;
  font-size: 24px;
  font-weight: 600;
}

/* --------------
    Category page
    ------------------*/

.filter-widget {
  margin-bottom: 20px;
}

.product-sidear {
  background: #ffffff;
  border: solid 1px #e4e4e4;
  border-radius: 7px;
  overflow: hidden;
}

.product-sidear .cat-body {
  padding: 15px;
}

.filter-widget .fw-title {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 24px;
  background: #858585;
  padding: 15px;
  letter-spacing: 1px;
}

.left-sidebar-accordion {
}

.left-sidebar-accordion .category-name {
}

.left-sidebar-accordion .category-name h5 a {
  position: relative;
  font-size: 12px;
  color: #414141;
  padding: 13px 12px;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  background: #f5f5f5;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.left-sidebar-accordion .category-name a:hover {
  color: #eb5322;
}

.left-sidebar-accordion .category-name .card-block {
  padding: 0 0 0 20px;
}

.category-menu {
  list-style: none;
  flex-direction: column;
}

.category-menu li {
}

.category-menu li a {
  display: block;
  position: relative;
  font-size: 12px;
  color: #414141;
  border-bottom: 1px solid #ebebeb;
  padding: 8px;
}

.category-menu li a span {
  float: right;
}

.category-menu li a:hover {
  color: #eb5322;
}

.category-menu li a:last-child a {
  margin-bottom: 0;
}

.category-menu li .sub-menu {
  list-style: none;
  overflow: hidden;
  height: 0;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.price-range-wrap .price-range {
  border-radius: 0;
  margin-right: 13px;
  margin-bottom: 28px;
}

.price-range-wrap .price-range.ui-widget-content {
  border: none;
  background: #ebebeb;
  height: 2px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
  background: #ebebeb;
  border-radius: 0;
}

.price-range-wrap
  .price-range
  .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
  background: #414141;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
  border: none;
  background: #414141;
  height: 14px;
  width: 14px;
  outline: none;
  top: -6px;
  cursor: ew-resize;
  margin-left: 0;
  border-radius: 0;
  border-radius: 20px;
}

.price-range-wrap
  .price-range
  .ui-slider-handle.ui-corner-all.ui-state-default
  span {
  position: absolute;
  font-size: 14px;
  top: 35px;
}

.price-range-wrap .range-slider {
  color: #444444;
  margin-top: 22px;
}

.price-range-wrap {
  /* border-bottom: 2px solid #ebebeb; */
  padding-bottom: 40px;
  /* margin-bottom: 50px; */
}

.price-range-wrap h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
  margin-bottom: 45px;
}

.price-range-wrap .range-slider .price-input input {
  color: #444444;
  border: none;
  outline: none;
  max-width: 80px;
  pointer-events: none;
}

.price-range-wrap .range-slider .price-input input:nth-child(1) {
  float: left;
}

.price-range-wrap .range-slider .price-input input:nth-child(2) {
  float: right;
}

.fw-color-choose,
.fw-size-choose {
  /* border-bottom: 2px solid #ebebeb; */
  padding-bottom: 20px;
  /* margin-bottom: 50px; */
}

.fw-color-choose .cs-item {
  display: inline-block;
  position: relative;
  margin-right: 14px;
}

.fw-color-choose .cs-item:last-child {
  margin-right: 0;
}

.fw-color-choose label {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: #333;
  position: relative;
  cursor: pointer;
}

.fw-color-choose label.cs-gray {
  background: #d7d7d7;
}

.fw-color-choose label.cs-orange {
  background: #6f91ff;
}

.fw-color-choose label.cs-yollow {
  background: #6f91ff;
}

.fw-color-choose label.cs-green {
  background: #8fc99c;
}

.fw-color-choose label.cs-purple {
  background: #bc83b1;
}

.fw-color-choose label.cs-blue {
  background: #9ee7f4;
}

.fw-color-choose label span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45px;
  font-size: 11px;
  color: #414141;
}

.fw-color-choose input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.fw-color-choose input[type="radio"]:checked + label {
  -webkit-box-shadow: 0 0 0 2px #f51167;
  box-shadow: 0 0 0 2px #f51167;
}

.fw-color-choose input[type="radio"]:checked + label span {
  color: #b09d81;
}

.fw-size-choose .sc-item {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.fw-size-choose label {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: #414141;
  font-weight: 500;
  cursor: pointer;
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.fw-size-choose #white + label {
  background: white;
  color: black;
  border: 1px solid #000;
}

.fw-size-choose #black + label {
  background: black;
  color: white;
}

.fw-size-choose #red + label {
  background: red;
  color: black;
}

.fw-size-choose #green + label {
  background: green;
  color: white;
}

.fw-size-choose #purple + label {
  background: purple;
  color: white;
}

.fw-size-choose #silver + label {
  background: silver;
  color: black;
}

.fw-size-choose #golden + label {
  background: goldenrod;
  color: black;
}

.fw-size-choose input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.fw-size-choose input[type="radio"]:checked + label {
  border-color: #858585;
}

/* landing page css start */

.custom-landing-banner-wrapper {
  position: relative;
  height: 100vh;
  background: black;
}

.custom-landing-banner-wrapper .pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

@media (min-width: 1200px) {
  .banner_filter {
    /* position: ;
        top: 108px;
        bottom: 40px;
        left: 50%;
        margin-left: auto;
        max-width: 1140px;
        padding: 0 10px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start; */
    /* width: calc(100% - 50%); */
  }
}

@media (min-width: 1200px) {
  /* .banner_filter .banner___from {
        transform: translateX(50%);
        max-width: 374px;
    } */
}

.banner_filter .banner___from {
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 65px rgb(0 0 0 / 0.11);
  border-radius: 14px;
  width: 100%;
  padding-bottom: 70px;
}

.banner_filter .banner___from h5 {
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 17px;
  letter-spacing: 3px;
  color: #858585;
}

.search-headtext {
  margin-bottom: 2rem;
}

.search-headtext div a {
  font-size: 13px;
  color: #eb5322;
  transition: all 0.2s ease-in;
  display: block;
  text-align: right;
}

.search-headtext div a:hover {
  color: #858585;
}

.banner_filter .banner___from .form-control {
  height: 55px;
  width: 100%;
  padding: 10px 18px;
  border: solid 1px #ccc;
  transition: 0.5s;
  appearance: none;
  box-shadow: none !important;
}

.banner_filter .banner___from .from-control:focus {
  border-color: #f89a1b;
}

.banner_filter .banner___from .read-more.submit-btn {
  width: 100%;
  text-align: center;
  background: #eb5322;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 10px #eb5322;
  border: none;
  margin: auto;
  transition: 0.2s ease-in-out;
}

.banner_filter .banner___from .read-more.submit-btn:hover {
  box-shadow: 0 0 0 #eb5322;
}

.custom-landing-banner-slider {
}

.landing-banner-item {
  position: relative;
  z-index: 0;
}

@media (min-width: 1200px) {
  .landing-banner-item .caption {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.landing-banner-item:after {
  content: "";
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(86deg, black, #0000001f);
}

.custom-landing-banner-slider .landing-banner-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.landing-banner-item .container {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.landing-banner-item .caption h2 {
  font-size: 40px;
  line-height: 45px;
  color: #fff;
  margin: 20px 0 10px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.landing-banner-item .caption a {
  padding: 10px 20px;
  display: inline-block;
  transition: 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
}

.caption p {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.category-box-container {
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.category-thumbnail {
  position: relative;
}

.category-thumbnail:before {
  content: "";
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 8;
  background: linear-gradient(
    to top,
    rgba(47, 45, 45, 0.9) 0%,
    rgba(0, 0, 0, 0.45) 35%,
    rgba(2, 2, 2, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 4px 4px 0 0;
  opacity: 1;
}

.category-overlap-wrapper {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 998;
  color: #fff;
  left: 0;
  top: 0;
}

.category-thumbnail:hover > .category-overlap-wrapper {
  visibility: visible;
  top: 0;
  cursor: pointer;
  transition: all 0.15s linear;
}

.overlap-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.overlap-btn {
  width: 36px;
  height: 36px;
  line-height: 35px;
  display: inline-block;
  color: #fff;
  margin: 16px 2px;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  border: solid 1px #fff;
}

.overlap-btn:hover {
  background: #eb5322;
  border: solid 1px #eb5322;
}

.for-sale {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
  padding: 5px 14px 3px;
  font-weight: 600;
  border-radius: 50px;
  text-transform: uppercase;
  color: #f9f9f9;
  background: rgba(0, 0, 0, 0.36);
}

.price-box {
  color: #fff;
  text-align: right;
  font-size: 17px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  z-index: 20;
  font-weight: 600;
  opacity: 0.9;
}

.price-box span {
  color: #fff;
}

.price-box .del {
  color: #eb5322;
  font-size: 15px;
}

.category-box-container .category-detail {
  padding: 25px 20px 15px;
}

.category-box-container .category-detail h1 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 900;
  text-transform: uppercase;
}

.category-box-container .category-detail h1 a {
  color: #212529;
}

.category-box-container .category-detail-list {
  margin-bottom: 15px;
}

.category-box-container .category-detail-list li {
  font-size: 11px;
  display: inline-block;
  padding-right: 5px;
  text-transform: uppercase;
}

.category-box-container .category-detail-list li a {
  color: #212529;
  font-weight: 700;
}

.category-box-container .facilities-list {
  flex-wrap: wrap;
}

.category-box-container .facilities-list li {
  list-style: none;
  margin-right: 20px;
  font-weight: 400;
  line-height: 35px;
  font-size: 14px;
}

.category-box-container .facilities-list li i {
  color: #212529;
}

.category-box-container .footer {
  color: #535353;
  font-size: 15px;
  border-top: solid 1px #efefef;
  justify-content: space-between;
}

.category-box-container .ratings {
  line-height: 49px;
  padding-left: 20px;
}

.category-box-container .ratings i {
  color: orange;
}

.category-box-container .footer ul li {
  display: inline-block;
  width: 48px;
  margin: 0 0 0 -4px;
}

.category-box-container .footer ul li a {
  display: block;
  font-size: 15px;
  height: inherit;
  line-height: 48px;
  text-align: center;
  width: 48px;
  border-left: 1px solid #e5e5e5;
  color: #535353;
}

.category-box-container .footer ul li a:hover {
  color: #ffb400;
}

.custom-service-section {
  background-color: rgba(0, 0, 0, 0.04);
  background-image: url(../images/map-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  padding: 100px 0 70px;
}

.custom-service-info {
  margin: 0 0 30px 0;
  width: 100%;
  position: relative;
  display: inline-block;
  background: #fff;
  padding: 30px 25px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.custom-service-info .service-icon {
  position: absolute;
  font-size: 40px;
}

.custom-service-info .service-icon i {
  color: #eb5322;
}

.custom-service-info .our-service-detail {
  margin-left: 60px;
}

.custom-service-info .our-service-detail h3 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
}

.custom-service-info .our-service-detail p {
  line-height: 26px;
  margin-bottom: 0;
  font-size: 15px;
  position: relative;
}

.offer-category-list {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0 0 30px 0;
}

.offer-category-list:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background-color: #4d4d4d;
  opacity: 0.4;
  z-index: -11;
  transition: 0.3s ease-out;
}

.cat-1-bg {
  background-image: url(../images/car3.jpg);
}

.cat-2-bg {
  background-image: url(../images/featued-watch3.jpg);
}

.cat-3-bg {
  background-image: url(../images/watch4.jpg);
}

.cat-4-bg {
  background-image: url(../images/new-york-1.jpg);
}

.cat-5-bg {
  background-image: url(../images/car5.jpg);
}

.cat-6-bg {
  background-image: url(../images/watch-small1.jpg);
}

.cat-7-bg {
  background-image: url(../images/watch-small2.jpg);
}

.offer-category_long_bg {
  height: 530px !important;
}

.offer-category-list:hover .offer-category-bg-box {
  transform: scale(1.06);
  transition: transform 0.35s ease-out;
}

.offer-category-bg-box {
  transition: all 0.35s;
  border-radius: 3px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.offer-category-bg-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.offer-category-list .offer-category-overlay {
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.15s linear;
  background: linear-gradient(
    to top,
    rgba(47, 45, 45, 0.9) 0%,
    rgba(0, 0, 0, 0.45) 35%,
    rgba(2, 2, 2, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.offer-category-content {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.15s linear;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.offer-category-content .new-offer {
  padding: 5px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  position: absolute;
  letter-spacing: 1px;
  font-weight: 500;
  top: 20px;
  right: 20px;
}

.offer-category-content .lo-text {
  position: absolute;
  letter-spacing: 1px;
  bottom: 15px;
  left: 20px;
}

.offer-category-content .price-box-2 {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 0;
  color: #eb5322;
}

.price-box-2 sup {
  font-size: 15px;
  position: relative;
  top: -25px;
  color: #fff;
  font-weight: 500;
  opacity: 0.9;
}

.price-box-2 span {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  opacity: 0.9;
}

.offer-category-content h3 {
  margin-bottom: 5px;
  text-align: left;
}

.offer-category-content h3 a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
}

.agent-detail-box {
  margin: 0 auto 30px;
  text-align: center;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.agent-detail-box img {
  width: 100%;
  /* border-radius: 100%;
        max-width: 200px; */
  margin: auto;
}

.agent-detail-box .agent-details {
  padding-top: 20px;
}

.agent-detail-box .agent-details h4 {
  margin-bottom: 7px;
  font-weight: 600;
}

.agent-detail-box .agent-details h4 a {
  color: #383737;
  font-size: 22px;
  font-weight: 600;
}

.agent-detail-box .agent-details h5 {
  font-size: 15px;
  color: #535353;
  font-weight: 500;
  margin-bottom: 10px;
}

.agent-detail-box .agent-details h6 {
  font-size: 14px;
  color: #535353;
  font-weight: 500;
  margin-bottom: 0;
}

.agent-detail-box .agent-details h6 a {
  color: #535353;
}
.agent-photo{
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-testimonial-wrapper {
  padding: 60px 0;
}
.custom-testimonial-box{
    padding: 60px 0;
}
.custom-card{}
.custom-card .card{}
.custom-card .card img {
    width: 152px;
    height: 64px;
    margin: 11px 0 11px 0;
}
.custom-card .card-body {
    padding: 0;
}
.custom-card .card-body p {
    font-size: 15px;
    padding-top: 23px;
    margin-bottom: 25px;
    padding-bottom: 50px;
}
.custom-card .card-body .author {
    padding: 20px 0 1px 0;
}
.custom-card .card-body .author .author-img {
    width: 42px;
    height: 42px;
    border: 1px solid #737573;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    overflow: hidden;
}

.custom-testimonial-wrapper > div {
  position: relative;
  z-index: 1;
}

.custom-testimonial-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.88;
}

.custom-testimonial-wrapper .main-heading {
  color: #fff;
}

.testimonial-slider {
}

.custom-testimonial-wrapper .testimonial-slider ul.slick-dots {
  top: 44px;
}

.testimonial-slider .testimonial-detail {
  max-width: 520px;
  margin: 0 auto 30px;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 0;
  border: 10px solid rgba(238, 238, 238, 0.2);
  background: rgba(0, 0, 0, 0.36);
  color: #fff;
  text-align: center;
}

.testimonial-slider .testimonial-detail p {
}

.testimonial-slider .testimonial-detail h3 {
  font-size: 20px;
}

.testimonial-slider .testimonial-detail h4 {
  font-size: 18px;
}

/*
    Watch landing page css
    */

.bg-black {
  background: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.landing-banner-item .caption h2 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 14px;
  position: relative;
}

.landing-banner-item .caption h2:after {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  height: 3px;
  background: #eb5322;
  bottom: 8px;
}

.landing-banner-item .caption h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 51px;
  font-weight: 800;
  letter-spacing: 2px;
}

.landing-banner-item .caption p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

.watch-lading .latest-listing-item.lg-item .listing_cation {
  position: absolute;
  left: 0;
  padding: 34px;
  bottom: 0;
  width: 100%;
  right: 0;
}

.watch-lading .latest-listing-item.lg-item .listing_cation * {
  color: #000;
}

.watch-lading .latest-listing-item .read-more {
  max-width: 150px;
  width: 100%;
  text-align: center;
  background: #eb5322;
  color: #fff;
}

.watch-lading .custom-latestoffer-wrapper .row .row {
  height: 50%;
}

.watch-lading .custom-latestoffer-wrapper .latest-listing-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.watch-lading .latest-listing-item {
  height: 100%;
  overflow: hidden;
}

.watch-lading .latest-listing-item img {
  transition: 0.5s;
}

.watch-lading .latest-listing-item:hover img {
  transform: scale(1.1);
}

.watch-lading .latest-listing-item.xs-item {
  padding: 27px;
  border: solid 1px #ccc;
}

.blog-left .blog-detail-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 29px 55px;
  background: linear-gradient(to top, black, transparent);
}

.blog-left .blog-detail-content * {
  color: #fff;
}

.blog-left .blog-detail-content h4 {
  padding-bottom: 20px;
  position: relative;
}

.blog-left .blog__item {
  position: relative;
}

.blog-left .blog-detail-content h4:after {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  height: 3px;
  background: #eb5322;
  bottom: 8px;
}

.blog-left .blog-detail-content h4 a {
  font-size: 37px;
  line-height: normal;
}

.blog__right-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 27px;
}

.blog__right-item .blog__right-item__left {
  width: 35%;
}

.blog__right-item__right {
  width: 65%;
  padding: 0 17px;
}

.blog__right-item__right .blog-date {
  margin-bottom: 7px;
}

.blog__right-item__right h4 a {
  font-size: 14px;
  line-height: normal;
  display: block;
  color: #000;
  font-weight: 800;
}

.blog__right-item__right p {
  font-size: 12px;
  line-height: 19px;
}

.blog__right-item__right .blog-date span,
.blog__item .blog-date span {
  font-size: 12px;
  letter-spacing: 2px;
  color: #eb5322;
}

.blog__right-item .blog__right-item__left img {
  width: 100%;
  height: 116px;
  object-fit: cover;
}

.content-bx {
  padding: 55px;
}

.content-bx h3 {
  font-size: 20px;
  letter-spacing: 8px;
  font-weight: 800;
  color: #000;
  padding-bottom: 19px;
  margin-bottom: 16px;
  position: relative;
}

.content-bx h3:after {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  height: 2px;
  background: #eb5322;
  bottom: 0px;
}

.content-bx p {
  margin: 0 0 60px;
}

.content-bx a.read-more {
  width: 100%;
  max-width: 151px;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 600;
}

.watch-lading .main-heading h3 {
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #858585;
  font-weight: 700;
  position: relative;
  padding-bottom: 21px;
}

.watch-lading .main-heading h3:after {
  content: "";
  position: absolute;
  left: 0;
  width: 120px;
  height: 3px;
  background: #858585;
  bottom: 8px;
  right: 0;
  margin: auto;
  border-left: solid 44px #eb5322;
  border-right: solid 44px #eb5322;
}

.become-a-section {
  background: url(../images/watch-landing/slide_02.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  padding: 55px 0;
  display: flex;
  align-items: center;
  min-height: 400px;
}

.become-a-section:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
}

.become-a-section > div {
  position: relative;
  z-index: 1;
  max-width: 66%;
}

.become-a-section h3 {
  color: #fff;
  font-size: 33px;
  font-weight: 300;
  line-height: 47px;
  margin-bottom: 35px;
  letter-spacing: 2px;
}

.fill-read-more {
  background: #eb5322;
  color: #fff;
  border: none;
  margin: 17px 0;
  min-width: 187px;
  border-radius: 5px;
}

/*
    Seller page start Here 
    */

.seller__content {
  padding-right: 55px;
}

.become-seller-from {
  padding: 151px 0 55px;
  background: url(../images/corporate-bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.become-seller-from > div {
  position: relative;
  z-index: 1;
}

.become-seller-from::after {
  content: "";
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.become-seller-from .nav-tabs .nav-item {
  width: 100%;
  flex: 1;
  text-align: center;
}

.become-seller-from .nav-tabs .nav-item a {
  font-weight: 600;
  font-size: 15px;
  color: #eb5322;
  padding: 1.1rem 10px;
  font-size: 1.1rem;
}

.become-seller-from .nav-tabs .nav-item a.nav-link.active {
  color: #858585;
}

.seller__content h3 {
  font-weight: 400;
  color: #fff;
  font-size: 35px;
  margin-bottom: 13px;
  padding-bottom: 44px;
  text-shadow: 2px 1px 1px #00000061;
  line-height: normal;
  position: relative;
  margin-bottom: 44px;
}

.seller__content h3:after {
  content: "";
  position: absolute;
  left: 0;
  width: 88px;
  height: 5px;
  background: #eb5322;
  bottom: 0px;
}

.seller__content p {
  color: #fff;
}

.seller__content h3 span {
  color: #eb5322;
}

.seller__from {
  background: #fff;
  padding: 50px 30px;
  box-shadow: 0 0 65px rgb(0 0 0 / 0.11);
  border-radius: 0 0 5px 5px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.row.row_choser {
  margin: 0 -5px;
}

.row.row_choser > div {
  padding: 0 5px;
}

.row.row_choser input[type="checkbox"],
.row.row_choser input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.row_choser label {
  background: #eb5322;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px 10px 36px;
  display: block;
  text-align: left;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  transition: 0.5s;
}

.row_choser label .radio-btn {
  position: absolute;
  left: 10px;
  top: 13px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: solid 2px #fff;
  display: inline-block;
}

.row_choser label .radio-btn:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  left: -1px;
  top: -1px;
  width: 13px;
  background: #fff;
  height: 13px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: scale(0);
}

.row_choser .tb_link.active label {
  background: #b53e18;
}

.row_choser .tb_link.active label .radio-btn:after {
  opacity: 1;
  visibility: visible;
  transform: scale(0.5);
}

.seller__from .from-control {
  height: 55px;
  width: 100%;
  padding: 10px 18px;
  border: solid 1px #ccc;
  transition: 0.5s;
  border-radius: 10px;
}

.seller__from .from-control:focus {
  border-color: #f89a1b;
}

.form-group.what-you-sell {
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 10px;
}

.sell-item-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sell-item-row .sell-item {
  width: 30%;
}

.sell-item-row .sell-item label {
  padding: 14px;
  border: solid 1px #858585;
  border-radius: 8px;
  display: block;
  color: #858585;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.iti {
  width: 100%;
}
.iti__country-list {
  flex-flow: column;
}

.sell-item-row .sell-item label i {
  margin-right: 5px;
}

.sell-item-row input[type="checkbox"],
.sell-item-row input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.sell-item-row .sell-item input:checked + label {
  background: #eb5322;
  color: #fff;
  border-color: #eb5322;
}

.read-more.submit-btn {
  width: 100%;
  text-align: center;
  background: #eb5322;
  color: #fff;
  border-radius: 44px;
  letter-spacing: 1px;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 25px #eb5322;
  border: none;
  margin: 39px 0 0;
  transition: all 0.2s ease-in-out;
}

.read-more.submit-btn:hover {
  background: #d03300;
  box-shadow: 0 0 0 #eb5322;
}

.cl-white {
  color: #fff !important;
}

.home-content span.price,
.home-content span.price {
  font-size: 15px;
  font-weight: 800;
  color: #eb5322;
}

.home-content {
  padding: 16px;
  margin: 18px 0;
  margin-bottom: 0;
  padding-bottom: 5px;
}

/*
    car css 

    */

.car-latest-collections .nav li {
  margin: 0px;
  margin-right: 44px;
}

.car-latest-collections .nav li:last-child {
  margin-right: 0px;
}

.nav-tabs-wrapper {
  text-align: center;
  max-width: 575px;
  margin: 0px auto 60px;
  border-bottom: 1px solid #e5e5e5;
}

.car-latest-collections .nav-tabs {
  justify-content: center;
}

.car-latest-collections .nav li a {
  border: none;
  color: #858585;
  padding: 13px 0px;
  position: relative;
  display: inline-block;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  font-weight: 600;
}

.car-latest-collections .nav li a.active {
  color: #f75d34;
}

.car-latest-collections .nav li a:before {
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  left: 0px;
  bottom: -1px;
  opacity: 0;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  background-color: #f75d34;
}

.car-latest-collections .nav li a.active:before {
  width: 100%;
  opacity: 1;
}

.car-latest-collections .nav li:hover a:before {
  width: 100%;
  opacity: 1;
}

.l_collection_item:hover {
  box-shadow: 0px 10px 15px 0px rgba(19, 24, 131, 0.05);
}

.l_collection_item {
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px rgba(0, 121, 175, 0.08);
}

.l_collection_item .car_img {
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.l_collection_item .car_img img {
  width: 100%;
}

.l_collection_item:hover .car_img img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.4s;
}

.l_collection_item .text_body h4 {
  display: inline-block;
  color: #000;
  font: bold 24px "Barlow", sans-serif;
  margin-bottom: 12px;
}

.l_collection_item .text_body {
  padding: 25px 30px 20px 30px;
}

.l_collection_item .text_body h5 {
  display: inline-block;
  float: right;
  color: #f75d34;
}

.l_collection_item .text_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #e4e4e4;
}

.l_collection_item .text_footer a {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: inline-block;
  text-align: center;
  color: #858585;
  padding: 12px;
}

.l_collection_item .text_footer a i {
  padding-right: 5px;
  color: #9d9d9d;
}

.l_collection_item [class*="icon-"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 4px;
}
.fa-engine,
.fa-gear1,
.fa-oil {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 4px;
}
.l_collection_item .icon-engine,
.fa-engine {
  background-image: url(../images/car/motor.png);
}

.l_collection_item .icon-gear1,
.fa-gear1 {
  background-image: url(../images/car/gear.png);
}

.l_collection_item .icon-oil,
.fa-oil {
  background-image: url(../images/car/dippel-oil.png);
}

.car_c_item {
  text-align: center;
  display: block;
}

.car_c_item img {
  width: auto !important;
  display: inline-block !important;
  margin-bottom: 15px;
  line-height: 90px;
  height: 150px;
}

.car_c_item h5 {
  width: 100%;
  color: #34373b;
  margin-bottom: 0px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  font-size: 14px;
}

.car_c_item h5 span {
  width: 100%;
  display: block;
  margin-top: 6px;
  color: #34373b;
}

.gray-arrow .slick-prev,
.gray-arrow .slick-next {
  background: #353535;
}

.gray-arrow .slick-next:hover,
.gray-arrow .slick-prev:hover {
  background: #000;
  color: #fff;
}

.stm-directory-grid-loop {
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.2s ease-in-out;
  position: relative;
}

.stm-directory-grid-loop:hover {
  transform: scale(1.02);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.stm-directory-grid-loop .image {
  position: relative;
  overflow: hidden;
  border-radius: 0;
}

.stm-directory-grid-loop .image img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* .stm-directory-grid-loop:hover .image img {
        transform: scale(1.1);
    } */

.stm-directory-grid-loop .image ul.slick-dots {
  margin-top: 0;
  bottom: 10px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.car-request {
  color: #eb5322;
}

.car-request:hover {
  color: #b34724;
}
.car-listing-row .stm-badge-directory {
  position: absolute;
  left: -65px;
  padding: 0 55px;
  top: 20px;
  width: 200px;
  height: 33px;
  line-height: 33px;
  transform: rotate(-45deg);
  background-color: #eb5322;
  color: #fff !important;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.car-listing-row .stm-badge-directory[class~="Special"] {
  display: none;
}

.car-listing-row .car-meta-top {
  padding-bottom: 12px;
}

.car-listing-row .listing-car-item-meta {
  padding-top: 15px;
  padding: 1rem;
}

.car-listing-row .listing-car-item-meta .price {
  position: relative;
  float: right;
  padding: 6px 10px 4px 4px;
  margin-left: 18px;
  background-color: #858585;
  text-align: right;
}

.car-listing-row .listing-car-item-meta .price .normal-price {
  line-height: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.car-listing-row .listing-car-item-meta .price:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -12px;
  height: 100%;
  width: 32px;
  background-color: #858585;
  transform: skew(-14deg, 0deg);
  z-index: -1;
}

.car-listing-row .listing-car-item-meta .car-title {
  color: #232628;
  overflow: hidden;
  text-transform: none;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
}

.car-listing-row .listing-car-item-meta .car-title .labels {
  text-transform: uppercase;
  color: #eb5322;
  font-size: 14px;
  line-height: 16px;
}

.car-listing-row .car-meta-bottom {
  padding-bottom: 17px;
  min-height: 85px;
}

.car-listing-row .car-meta-bottom ul {
  flex-wrap: wrap;
}

.car-listing-row .car-meta-bottom ul li i {
  margin-right: -1px;
  font-size: 14px;
  color: #aaa;
  vertical-align: middle;
  display: inline-block;
}

.car-listing-row .car-meta-bottom ul li {
  display: block;
  margin: 5px 10px;
  color: #888;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-right: 0;
}

.car-listing-row .dealer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  min-height: auto;
  padding: 10px 0;
  padding-bottom: 0;
  min-height: 55px;
}

.dealer-logo p {
  margin: 0;
  font-size: 14px;
}

.dealer-logo ul li {
  font-size: 12px;
  margin: 0.8px;
  color: #2b2b2b;
}

.dealer-logo ul li.active {
  color: #eb5322;
}

.bottom-detais .dealer li.active {
  color: #eb5322;
}

.car-listing-row .car-meta-bottom ul li:last-child {
  border-right: none;
}

.car-listing-row .car-meta-bottom ul li span {
  position: relative;
  top: 1px;
  vertical-align: middle;
  margin-left: 2px;
  font-size: 14px;
}

.car_browse_brand .car_c_item {
  border: solid 2px #e6e6e6;
  background: #efefef;
  padding: 13px;
  margin: 3px;
  mix-blend-mode: darken;
}

.car_browse_brand .car_c_item img {
  height: 100px;
  width: 100%;
  display: block;
  margin: auto;
  mix-blend-mode: darken;
}

.car_browse_brand .car_c_item h5 {
  font-weight: 700;
  color: #000000;
  margin: 7px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 20px;
}

.overlay-wrapper > div {
  position: relative;
  z-index: 1;
}

.overlay-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.88;
}

.prominant-content h2 {
  font-size: 40px;
  line-height: normal;
  margin-bottom: 34px;
  padding: 0px 0 32px 0;
  position: relative;
}

.prominant-content h2 span {
  font-weight: 800;
  color: #eb5322;
}

.prominant-content h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #f1f1f1;
  left: 0;
  border-left: solid 67px #eb5322;
}

.prominant-content p {
  font-size: 20px;
}

.capture-buyer {
  padding: 77px 0;
  text-align: center;
  position: relative;
  background: url(../images/bg1.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
}

.capture-buyer:before {
  opacity: 0.6;
}

.capture-buyer h2 {
  font-size: 54px;
  margin-bottom: 30px;
}

.capture-buyer h2 strong {
  color: #eb5322;
}

.capture-buyer * {
  color: #fff;
}

.capture-buyer p {
  font-size: 20px;
}

.container.fulldeg {
  max-width: 1350px;
}

.capture-buyer .container {
  max-width: 800px;
}

/*
        Watch Listing
        
        */

.watch-product-item {
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.watch-product-item .product-thumb {
  position: relative;
  overflow: hidden;
}

.watch-product-item .product-thumb a {
  display: block;
  min-height: 250px;
  max-height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.watch-product-item .product-thumb a img {
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.watch-product-item img {
  transition: 0.5s;
}

.watch-product-item .inside {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: -50%;
  background: #fff;
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease-in;
  -webkit-box-shadow: 0px -10px 24px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -10px 24px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -10px 24px -20px rgba(0, 0, 0, 0.75);
}

.watch-product-item .inside .contents table tr td {
  padding: 5px 0;
}

.watch-product-item .inside.active {
  bottom: 0;
  opacity: 1;
}

.watch-product-item .product-detail-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: #eb53224d;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.watch-product-item .product-detail-btn ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 100ms;
}

.watch-product-item:hover {
  transform: scale(1.02);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.watch-product-item .icon {
  position: absolute;
  background: #eb5322;
  color: #fff;
  padding: 5px 18px;
  border-radius: 0 0 0 100%;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  transition: 0.2s ease-in;
  box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.24);
}

.watch-product-item:hover .product-detail-btn {
  opacity: 1;
}

.watch-product-item:hover .product-detail-btn {
  opacity: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.watch-product-item:hover .product-detail-btn ul {
  opacity: 1;
  top: 50%;
}

.watch-product-item .product-detail-btn ul li a {
  width: 35px;
  background: #eb5322;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  height: 35px;
  line-height: 15px;
}

.watch-product-item .product-details {
  padding: 13px 0;
  padding-bottom: 0;
}

.watch-product-item .product-details h5 a {
  color: #000;
}

.watch-product-item .price-wrap {
  color: #eb5322;
  font-weight: 700;
}

.bottom-detais {
  border-top: 1px solid #e6e6e6;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-detais .dealer {
  flex-basis: 70%;
  width: 70%;
}

.bottom-detais .dealer li {
  font-size: 12px;
  margin: 0.8px;
  color: #2b2b2b;
}

.bottom-detais .dealer p.seller-type {
  font-size: 13px;
  margin: 0;
}

.bottom-detais .dealer p.seller-type {
  font-size: 13px;
  margin: 0;
}

.bottom-detais .dealer p.seller-type i {
  margin-right: 2px;
}

.country-flag {
  display: flex;
  align-items: center;
}

.country-flag img {
  width: 28px;
  height: 28px;
}

.country-flag p.c-code {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-left: 5px;
}

ol.breadcrumb {
  background: #858585;
  border: none;
  margin: 27px 0 0;
  border-radius: 0;
}

ol.breadcrumb li,
ol.breadcrumb li a {
  color: #fff;
}

.breadcrumb-item.active {
  color: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #fff;
  content: "/";
}
/*
    Car Single Product 
    */
.stm-listing-single-price-title {
  margin-bottom: 21px;
  font-weight: 700;
}
.stm-listing-single-price-title .price {
  position: relative;
  float: right;
  min-width: 113px;
  padding: 8px 21px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  background-color: #858585;
}
.stm-listing-single-price-title .price:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -15px;
  height: 100%;
  width: 32px;
  background-color: #858585;
  transform: skew(-23deg, 0deg);
  z-index: -1;
}

.single-product .single-product-images .slider#lightgallery p.save-listing,
.single-product-images .watch-slider#lightgallery-watch p.save-listing {
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.single-product .single-product-images .slider#lightgallery p.save-listing a,
.single-product-images .watch-slider#lightgallery-watch p.save-listing a {
  font-size: 30px;
  padding: 4px 15px;
  width: 50px;
  height: 50px;
  color: #fff;
  background: #eb5322;
  transition: 0.2s ease-in-out;
}

.single-product
  .single-product-images
  .slider#lightgallery
  p.save-listing
  a.active,
.single-product-images
  .watch-slider#lightgallery-watch
  p.save-listing
  a.active {
  color: #000;
  background: #858585;
  pointer-events: none;
}

.single-product
  .single-product-images
  .slider#lightgallery
  p.save-listing
  a:hover,
.single-product-images .watch-slider#lightgallery-watch p.save-listing a:hover {
  color: #000;
  background: #858585;
}

.stm-listing-single-price-title .title {
  padding-bottom: 5px;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 28px;
  color: #858585;
}

.stm-listing-single-price-title div.heading-down p {
  margin: 0;
  margin-right: 10px;
  border-right: 1px solid #464646;
  padding-right: 10px;
  color: #464646;
  font-weight: 500;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.stm-listing-single-price-title div.heading-down p i {
  margin-right: 5px;
  color: #eb5322;
}

.stm-listing-single-price-title div.heading-down p:last-child {
  border: none;
}

.single-product-images .slick-slide img {
  width: 100%;
}
.single-product-images .slider-nav-thumbnails {
  margin: 20px -10px;
}
.single-product-images .slider-nav-thumbnails .slick-slide {
  opacity: 0.5;
  margin: 10px;
  cursor: pointer;
}
.watch-slider-nav-thumbnails div {
  padding: 0 8px;
}

.single-product-images .watch-slider-nav-thumbnails .slick-track {
  transform: none !important;
}

.watch-slider-nav-thumbnails .slick-list .slick-slide img {
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.5;
}

.watch-slider-nav-thumbnails
  .slick-list
  .slick-slide.slick-active.slick-center
  img {
  opacity: 1;
}

.single-product-images .slider-nav-thumbnails .slick-slide.slick-active {
  opacity: 1;
  background: #eb5322;
}
.single-product-images .slick-prev,
.single-product-images .slick-next {
  border: none;
  height: 66px;
  border-radius: 0;
  line-height: 72px;
  background: #eb5322cf;
}

.single-product-images #lightgallery .slick-prev,
.single-product-images #lightgallery .slick-next {
  background: #858585b0;
}

.stm-border-top-unit {
  border-top: 4px solid #eb5322;
  padding-top: 27px;
  margin: 44px 0 20px;
}

.stm-single-car-listing-data table.stm-table-main > tbody > tr > td {
  padding: 13px 0 14px;
}
table > tbody tr td {
  padding: 9px 0 8px;
  font-size: 12px;
  color: #000;
  border-bottom: 1px solid #d5d9e0;
}
.stm-single-car-listing-data table.inner-table tr td.label-td {
  padding-right: 5px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stm-single-car-listing-data table.inner-table tr td.heading-font {
  padding-left: 10px;
  color: #000;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stm-single-car-listing-data table.stm-table-main > tbody > tr > td.divider-td {
  width: 30px;
  border: 0;
}
.stm-single-car-listing-data table.inner-table {
  margin-bottom: 0;
  width: 100%;
  table-layout: fixed;
}
.stm-single-car-listing-data table.inner-table tr td {
  border: 0;
  padding: 0;
  vertical-align: middle;
}
.stm-single-car-listing-data table.inner-table tr td {
  border: 0;
  padding: 0;
  vertical-align: middle;
}
.stm-single-car-listing-data table.inner-table tr td i {
  display: inline-block;
  position: relative;
  top: 3px;
  font-size: 16px;
  margin-right: 5px;
  text-align: center;
  vertical-align: top;
  max-height: 22px;
  color: #8a8a8a;
}
.stm-single-listing-car-features .lists-inline > ul li {
  float: left;
  width: 22%;
  border-bottom: 1px solid #d5d9e0;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  margin-right: 4%;
}

.stm-single-listing-car-features.watch-details .lists-inline > ul li {
  width: 48%;
}

.stm-single-listing-car-features .lists-inline > ul li:last-child {
  margin-right: 0;
}

ul.list-style-2 li {
  position: relative;
  padding-left: 31px;
  margin-bottom: 8px;
}
ul.list-style-2 li:before {
  position: absolute;
  content: "";
  display: block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  left: 3px;
  top: 4px;
  content: "\f058";
  font-size: 14px;
  color: #8a8a8a;
}

/* .comment-container {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .v-btn {
        align-items: center;
        border-radius: 2px;
        display: inline-flex;
        height: 36px;
        flex: 0 0 auto;
        font-size: 14px;
        font-weight: 700;
        justify-content: center;
        margin: 6px 8px;
        min-width: 88px;
        outline: 0;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
        position: relative;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0 16px;
    }

    .v-btn:before {
        border-radius: inherit;
        color: inherit;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        opacity: 0.12;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        width: 100%;
    }

    .v-btn:focus,
    .v-btn:hover {
        position: relative;
    }

    .v-btn:focus:before,
    .v-btn:hover:before {
        background-color: currentColor;
    }

    .v-btn__content {
        align-items: center;
        border-radius: inherit;
        color: inherit;
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        white-space: nowrap;
        width: inherit;
    }

    .v-btn:not(.v-btn--depressed):not(.v-btn--flat) {
        will-change: box-shadow;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .v-btn:not(.v-btn--depressed):not(.v-btn--flat):active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .avatar {
        width: 50px;
        height: 50px;
        margin-left: -42px;
        border-radius: 50%;
    }

    .v-avatar {
        align-items: center;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        position: relative;
        text-align: center;
        vertical-align: middle;
    }

    .v-avatar img {
        border-radius: 50%;
        display: inline-flex;
        height: inherit;
        width: inherit;
        object-fit: cover;
        display: none;
    }

    .v-card {
        text-decoration: none;
    }

    .v-card > :first-child:not(.v-btn):not(.v-chip) {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .v-card > :last-child:not(.v-btn):not(.v-chip) {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    .v-sheet {
        display: block;
        border-radius: 2px;
        position: relative;
    }

    .v-dialog__container {
        display: inline-block;
        vertical-align: middle;
    }

    .elevation-2 {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }

    .headline {
        font-weight: 400;
        letter-spacing: normal !important;
        font-size: 24px !important;
        line-height: 32px !important;
    }

    .title {
        font-size: 20px !important;
        font-weight: 700;
        line-height: 1 !important;
        letter-spacing: 0.02em !important;
    }

    .caption {
        font-weight: 400;
        font-size: 12px !important;
    }

    .theme--light.v-btn {
        color: rgba(0, 0, 0, 0.87);
    }

    .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
        background-color: #f5f5f5;
    }

    .theme--light .v-card {
        box-shadow: rgba(0, 0, 0, 0.11) 0 15px 30px 0px, rgba(0, 0, 0, 0.08) 0 5px 15px 0 !important;
    }

    .theme--light.application .v-card {
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
        color: #102c3c !important;
    }

    .theme--light.v-card,
    .theme--light.v-sheet {
        background-color: #fff;
        border-color: #fff;
        color: rgba(0, 0, 0, 0.87);
    }

    .answers {
        padding-left: 64px;
    }

    .comment {
        overflow-y: auto;
        margin-left: 32px;
        margin-right: 16px;
    }

    .comment p {
        font-size: 14px;
        margin-bottom: 7px;
    } */

.displayName {
  margin-left: 24px;
}

.actions {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.google-span[data-v-35838f51] {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.google-button[data-v-35838f51] {
  background-color: #fff;
  height: 40px;
  margin: 0;
}

.headline {
  margin-left: 32px;
}

.sign-in-wrapper {
  margin: 15px;
  margin-bottom: 0;
}

.error-message {
  font-style: oblique;
  color: #c40030;
}

::-moz-selection,
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

.card,
.card {
  padding: 32px 16px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.application a,
[type="button"],
button {
  cursor: pointer;
}

.text-color {
  color: #858585 !important;
}
.bg-color {
  background: #858585 !important;
}

.bg-color-border {
  border-color: #eb5322 !important;
}

.stm-single-listing-car-sidebar .dealer-contacts .purchase {
  padding: 0;
}

.stm-single-listing-car-sidebar .dealer-contacts .purchase a.buy-btn {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  margin-bottom: 1.25rem;
  background: #858585;
  border: 1px solid transparent;
  font-weight: 500;
  display: block;
  color: #fff;
  padding: 12px 0.5rem;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
  z-index: 0;
  text-transform: uppercase;
}

.stm-single-listing-car-sidebar .dealer-contacts .purchase a.buy-btn:hover {
  background: transparent;
  color: #858585;
  border: 1px solid #858585;
}

.stm-single-listing-car-sidebar .dealer-contacts .purchase a.suggest-btn {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  background: #eb5322;
  border: 1px solid transparent;
  font-weight: 500;
  display: block;
  color: #fff;
  padding: 0.6rem;
  text-align: center;
  font-size: 16px;
  margin-bottom: 1rem;
  transition: all 0.5s ease-in-out;
  z-index: 0;
  text-transform: uppercase;
}

.stm-single-listing-car-sidebar .dealer-contacts .purchase a.suggest-btn:hover {
  background: transparent;
  color: #eb5322;
  border: 1px solid #eb5322;
}

.stm-single-listing-car-sidebar .contact-seller {
  margin-bottom: 1rem;
}

.stm-single-listing-car-sidebar .contact-seller .d-flex {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
  text-decoration: none;
}

.stm-single-listing-car-sidebar .contact-seller .d-flex .seller-info {
  margin-left: 0.8rem;
}

.stm-single-listing-car-sidebar .contact-seller .d-flex .seller-info h6 {
  margin-bottom: 0;
}

.stm-single-listing-car-sidebar .contact-seller .d-flex .seller-info ul {
  margin-top: 3px;
}

.stm-single-listing-car-sidebar .contact-seller .d-flex .seller-info ul li {
  color: #eb5322;
  margin-right: 3px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.stm-single-listing-car-sidebar .contact-seller .d-flex .seller-info ul span a {
  color: #eb5322;
  margin-left: 5px;
  font-size: 14px;
}

.stm-single-listing-car-sidebar .contact-seller .seller-city {
  color: #858585;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}

.stm-single-listing-car-sidebar .contact-seller .contact-btn {
  width: 100%;
  text-align: center;
  display: block;
  padding: 5px;
  border: 1px solid #858585;
  color: #858585;
  margin-bottom: 2rem;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.stm-single-listing-car-sidebar .contact-seller .contact-btn:hover {
  background: #858585;
  color: #fff;
}

.boredr-top {
  border-top: 4px solid #858585;
}
.stm-single-listing-car-sidebar .seller-details {
  padding: 1rem;
  background: #ffffff;
  margin-top: 3rem;
  border: 1px solid #858585;
  border-radius: 10px;
  position: relative;
}

.stm-single-listing-car-sidebar .seller-details .seller-status {
  margin-top: 1rem;
  font-size: 13px;
  margin-bottom: 5px;
  color: #2f2f2f;
}

.stm-single-listing-car-sidebar .seller-details .seller-location {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  color: #2f2f2f;
}

.stm-single-listing-car-sidebar .seller-details .dealer-logo {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 0;
}

.stm-single-listing-car-sidebar .seller-details .dealer-logo .d-flex {
  padding-top: 10px;
  justify-content: flex-start;
  align-items: center;
}

.stm-single-listing-car-sidebar .seller-details .dealer-logo .d-flex .face {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.stm-single-listing-car-sidebar .seller-details .dealer-logo .d-flex h3 {
  font-size: 1.1rem;
  margin: 3px;
}

.stm-single-listing-car-sidebar .seller-details .dealer-logo .d-flex ul li {
  color: #eb5322;
  margin-right: 3px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.stm-single-listing-car-sidebar .seller-details .dealer-logo .d-flex ul span a {
  color: #eb5322;
  margin-left: 5px;
  font-size: 14px;
}

.stm-single-listing-car-sidebar .seller-details .seller-name {
  color: #eb5322;
  margin-bottom: 3px;
  margin-top: 12px;
  font-weight: bold;
  font-size: 1.5rem;
}

.stm-single-listing-car-sidebar .seller-details .member {
  background: #858585;
  padding: 10px;
  margin-top: 22px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.stm-single-listing-car-sidebar .seller-details .member h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.stm-single-listing-car-sidebar .seller-details .member p {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  margin: auto;
  text-align: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #858585;
  border-radius: 10px;
  color: #858585;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.dealer-contacts .dealer-contact-unit {
  position: relative;
  padding-left: 33px;
  padding-bottom: 17px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e8ec;
}
.dealer-contacts .dealer-contact-unit i {
  position: absolute;
  top: 0px;
  left: 0;
  color: #eb5322;
  font-size: 22px;
}
.dealer-contacts .dealer-contact-unit .phone {
  margin-bottom: -1px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.dealer-contacts .dealer-contact-unit.phone span {
  font-size: 11px;
  cursor: pointer;
  text-decoration: dotted;
  border-bottom: 1px dotted;
  line-height: 20px;
  position: relative;
  min-width: 20px;
}
.stm-border-bottom-unit {
  padding-bottom: 11px;
  margin: 25px 0;
  border-bottom: 4px solid #858585;
}
.stm-single-car-contact {
  padding: 22px 20px 21px;
  margin-bottom: 34px;
  background-color: #858585;
}
.stm-single-car-contact .from-control {
  height: 39px;
  width: 100%;
  padding: 12px 13px;
  border: none;
  color: #000;
  background: #fff;
  font-size: 12px;
}
.stm-single-car-contact textarea.from-control {
  height: 150px;
}
.stm-single-car-contact input.read-more {
  background: #eb5322;
  border-radius: 55px;
  display: inline-block;
  font-weight: 700;
  width: 100%;
  color: #000;
}

/*
    Watch single css
    ============================================*/

.banner___from .form-inline {
  justify-content: space-between;
  align-items: center;
}
.banner___from .form-inline div.form-group {
  flex: 1;
  margin-right: 1rem;
  width: 100%;
}

.banner___from .form-inline div.form-group .ro-select-wrapper {
  display: inline-block;
  position: relative;
  min-width: 150px;
  width: 100%;
}
ul.dt-share-list li a {
  color: #000;
}
ul.dt-share-list {
  display: block;
  list-style-type: none;
  margin: 10px 0;
  background: #ccc;
  padding: 6px 20px;
  border-radius: 8px;
}
ul.dt-share-list li {
  display: inline-block;
  padding: 0 15px 0 0;
}
.single-product-content h2:after {
  content: "";
  width: 100px;
  height: 2px;
  background: #e4e4e4;
  position: absolute;
  bottom: 0;
  left: 0;
}
.single-product-content h2 {
  position: relative;
  font-size: 37px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.dt-sc-icon-box.type5 {
  padding: 5px 0 0 100px;
  position: relative;
  margin-bottom: 30px;
}

.dt-sc-icon-box.type5 .icon-wrapper {
  position: absolute;
  left: 0;
  top: 10px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #e4e4e4;
  display: flex;
  justify-content: center;
}

.dt-sc-icon-box.type5 .icon-wrapper span {
  line-height: 105px;
  color: #000;
  font-size: 24px;
  line-height: 3.5;
  position: relative;
  z-index: 1;
}
.dt-sc-icon-box.type5 .icon-content h4 {
  margin-bottom: 10px;
  font-size: 22px;
}
.dt-sc-icon-box.type5 p {
  color: #888;
}
.watch-product-image figure {
  border-radius: 14px;
  overflow: hidden;
  box-shadow: -1px 10px 30px #0000000f;
}

/* search box design */

.banner_filter .banner___from .form-group.pos-bottom {
  position: absolute;
  width: 300px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.banner_filter form.form-inline select.form-control {
  border: none;
  border-bottom: 1px solid #858585;
  display: block;
  max-height: 48px;
  padding: 16px 25px 8px 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding-left: 10px;
  border-radius: 0;
  position: relative;
  z-index: 9;
/*  background: transparent;
*/  transition: 0.2s ease-in;
  color: #858585;
}

.banner_filter form.form-inline select.form-control:hover {
  border-width: 2px;
  transition: 0.2s ease-out;
}

.banner_filter form.form-inline .form-group {
  position: relative;
}

.banner_filter form.form-inline .form-group.arrow::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-30%);
  z-index: 8;
  color: #858585;
}

.support-box {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: inline-block;
  height: auto;
  z-index: 90;
}

.support-box .icon-text {
  display: block;
  opacity: 1;
  background: #fff;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  transition: 0.2s ease-in;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.support-box .icon-text p {
  margin: 0;
  color: #000;
  padding-right: 10px;
  font-size: 14px;
}

.support-box .icon-text p i {
  display: inline-block;
  font-size: 1.2rem;
  background: rgb(238, 238, 238);
  padding: 15px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.ads-status{
  background-color: #ed6868;
  border-radius: 100%;
  padding: 5px;
  top: -30px;
  min-width: 80px;
  right: -30px;
  color: #fff;
  font-weight: 600;
  box-shadow: 1px 1px 1px 1px #26232317;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ads-active{
  color: #00ff0d;
}
.ads-canceled{
  color:red;
}
.ads-paused{
  color: orange;
}
#myTabParent{
  display: flex;
  justify-content: center;
}
#propertyCheck{
  transform: inherit !important;
}

#heading {
  text-transform: uppercase;
  color: #673AB7;
  font-weight: normal
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

.form-card {
  text-align: left
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px; 
  font-family: montserrat;
  font-size: 16px;
  letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #eb5322;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: #eb5322;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #eb5322
}

#msform .action-button-previous {
  width: 200px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000
}
.fs-title {
  font-size: 25px;
  color: #eb5322;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left
}

.purple-text {
  color: #eb5322;
  font-weight: normal
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right
}

.fieldlabels {
  color: gray;
  text-align: left
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey
}

#progressbar .active {
  color: #eb5322
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 33.3%;
  float: left;
  position: relative;
  font-weight: 400;  
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: ""
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: ""
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: ""
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: ""
}

#progressbar li:before {
  font-size: 20px;
  color: #ffffff;
  /* width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px */
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #eb5322
}

.progress {
  height: 20px
}

.progress-bar {
  background-color: #eb5322
}

.fit-image {
  width: 100%;
  object-fit: cover
}
.closeWindow{
  position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}


.file-input {
  display: block;
  text-align: left;
  background: #e9ecef;
  padding: 16px;
  position: relative;
  border-radius: 3px;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 8px 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  background: dodgerblue;
  color: white;
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}

.watch-list {
  padding: 10px;
}