
@font-face {
  font-family: 'Magra';
  src: url('../fonts/Magra.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Magra.woff') format('woff'), 
       url('../fonts/Magra.ttf')  format('truetype'), 
       url('../fonts/Magra.svg#Magra') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avance-Regular';
  src: url('../fonts/Avance-RegularSC.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Avance-RegularSC.woff') format('woff'), 
       url('../fonts/Avance-RegularSC.ttf')  format('truetype'), 
       url('../fonts/Avance-RegularSC.svg#Magra') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NiveauGroteskRegular';
  src: url('../fonts/NiveauGroteskRegular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/NiveauGroteskRegular.woff') format('woff'), 
       url('../fonts/NiveauGroteskRegular.ttf')  format('truetype'), 
       url('../fonts/NiveauGroteskRegular.svg#Magra') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NiveauGroteskBold';
  src: url('../fonts/NiveauGroteskBold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/NiveauGroteskBold.woff') format('woff'), 
       url('../fonts/NiveauGroteskBold.ttf')  format('truetype'), 
       url('../fonts/NiveauGroteskBold.svg#NiveauGroteskBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Book';
  src: url('../fonts/Futura-Book.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Futura-Book.woff') format('woff'), 
       url('../fonts/Futura-Book.ttf')  format('truetype'), 
       url('../fonts/Futura-Book.svg#Futura-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaLight';
  src: url('../fonts/FuturaLight.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/FuturaLight.woff') format('woff'), 
       url('../fonts/FuturaLight.ttf')  format('truetype'), 
       url('../fonts/FuturaLight.svg#FuturaLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TimesNewRoman';
  src: url('../fonts/TimesNewRoman.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/TimesNewRoman.woff') format('woff'), 
       url('../fonts/TimesNewRoman.ttf')  format('truetype'), 
       url('../fonts/TimesNewRoman.svg#TimesNewRomanPSMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
