.mast__cat .jumbotron,
.topic__cat .jumbotron {
    padding: 1rem;
    background: #f7f7f7;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 10%);
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    color: #000;
    cursor: pointer;
}

.mast__cat .jumbotron:hover {
    text-decoration: none;
}

.__cat_icon {
    text-align: center;
    font-size: 60px;
    color: #7c8490;
}

.__cat_icon i {
    vertical-align: text-top;
}

.__cat_text .display-6 {
    font-size: 22px;
    margin: 0 0 10px;
}

.__cat_text .lead {
    font-size: 15px;
    font-weight: 600;
    color: #6d6e7b;
}

.author_img img {
    width: 50px;
}

.author_content p {
    margin-bottom: 0;
}

.author_content small {
    font-size: 13px;
}


/* =================================== topics page =================================== */

.topic__cat {
    background: #f7f7f7;
    padding: 4rem 1rem;
}

.topic__cat .topic__cat_head {
    margin: 0px 50px 50px;
}

.master_topics_list {
    margin: 0 50px;
    padding: 0;
}

.master_topics_list li {
    list-style-type: none;
    padding: 20px;
    background: #fff;
    border-bottom: 3px solid #ddd;
}

.master_topics_list a {
    text-decoration: none;
    color: #000;
}


/*=================================== faq Qestions =================================== */

.faq_queustion_category h3 {
    margin-bottom: 30px;
}

.faq_queustion_category ul {
    margin: 0;
    padding: 0;
}

.faq_queustion_category .accordian {
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    margin-bottom: -1px;
    list-style-type: none;
}

.faq_queustion_category .accordian h2 {
    font-size: 20px;
    padding: 15px 30px 15px 0;
    margin-bottom: -1px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
}

.faq_queustion_category .accordian h2:after {
    position: absolute;
    content: '';
    right: 5px;
    top: 10px;
    border: 3px solid #000;
    width: 15px;
    border-top: 0;
    border-left: 0;
    height: 15px;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: rotate( 45deg);
}

.faq_queustion_category .accordian.active h2:after {
    transform: rotate( -132deg);
    transition: all 0.5s ease-in-out;
    top: 20px;
}

.faq_queustion_category.accordian.active .faq_head {
    background: #eb5322;
    color: #fff;
    margin-bottom: 0;
}

.faq_queustion_category .faq_content {
    display: none;
    padding: 15px 0;
}

.faq_queustion_category .faq_content h5 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    margin: 15px 0;
}


/* Media Query */

@media (max-width: 992px) {
    br {
        display: none;
    }
    .faq_inner ul.tabs li {
        padding: 6px 20px;
        margin: 0 10px 0px 0;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .faq_inner ul.tabs li {
        padding: 6px 10px;
        margin-right: 7px;
        font-size: 13px;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 360px) {
    .faq_inner ul.tabs li {
        font-size: 11px;
    }
}